---
---

h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

hr {
  margin-top: 0; 
}

a:hover {
  color: #9ddcff;
}  

center a{
  color: #666666; 
  text-decoration: none;
}

center i {
  color:#9ddcff; 
  text-shadow:2px 2px 4px #000000;
}

p {
  color: #666666;  
}

li {
  color: #666666;  
}

#section
{
  margin-block-end: 0;
}

#title_left
{
  margin: 0;
  text-align: left;
  width: 49%; 
  display: inline-block;
}

#title_right
{
  margin: 0;
  text-align: right;
  width: 50%; 
  display: inline-block;
}

#left
{
  margin: 0;
  width: 49%; 
  text-align: left;
  display: inline-block;
}

#right
{
  margin: 0;
  text-align: right;
  width: 48%; 
  display: inline-block;
}