---
---

nav{ 
  width: 100%; 
  background-color: #fbfbfb;
  line-height: 107px;
  margin-left: 75px; 
  
}

nav ul{
  float: left; 
  margin: auto;

}

nav ul li{
  list-style-type: none; 
  display: inline-block;

}

nav ul li a{
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: xx-large; 
  text-decoration: none;
  padding: 30px;

}