<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155082049-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-155082049-1');
    </script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' }}" media="print" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/navigation.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/blogs.css' }}" type="text/css">
    <meta name="google-site-verification" content="5nNLZZrN2cCkqk-YjHhN-2gGOZBmEb_Unc8oTvRtCCo" />

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="https://mrshininnnnn.github.io/">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>

    <nav>
      <div class="inner">
        <ul>
          <li><a href="https://mrshininnnnn.github.io/">About</a></li>
          <li><a href="https://mrshininnnnn.github.io/coursework/">Coursework</a></li>
          <li><a href="https://mrshininnnnn.github.io/projects/">Projects</a></li>
          <li><a href="https://mrshininnnnn.github.io/publications/">Publications</a></li>
          <li><a href="https://mrshininnnnn.github.io/blogs/">Blogs</a></li>
          <li><a href="https://mrshininnnnn.github.io/cv/">CV</a></li>
        </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>
      </div>
    </div>
  </body>
</html>