<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155082049-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-155082049-1');
    </script> 
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' }}" media="print" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/navigation.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/cv.css' }}" type="text/css">
    <meta name="google-site-verification" content="5nNLZZrN2cCkqk-YjHhN-2gGOZBmEb_Unc8oTvRtCCo" />

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="https://mrshininnnnn.github.io/">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>

    <nav>
      <div class="inner">
        <ul>
          <li><a href="https://mrshininnnnn.github.io/">About</a></li>
          <li><a href="https://mrshininnnnn.github.io/coursework/">Coursework</a></li>
          <li><a href="https://mrshininnnnn.github.io/projects/">Projects</a></li>
          <li><a href="https://mrshininnnnn.github.io/publications/">Publications</a></li>
          <li><a href="https://mrshininnnnn.github.io/blogs/">Blogs</a></li>
          <li><a href="https://mrshininnnnn.github.io/cv/">CV</a></li>
        </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <center> 
          <h1>Ning Shi (石宁)</h1> 
          <a href="mailto:MrShininnnnn@gmail.com"><img src="/assets/images/envelope-solid.svg" width="15px"> MrShininnnnn[at]gmail[dot]com |</a>
          <a href="https://mrshininnnnn.github.io/"><img src="/assets/images/home-solid.svg" width="15px"> Homepage |</a>
          <a href="https://www.linkedin.com/in/stshining/"><img src="/assets/images/linkedin-brands.svg" width="15px"> LinkedIn |</a>
          <a href="https://github.com/MrShininnnnn"><img src="/assets/images/github-alt-brands.svg" width="15px"> GitHub </a>
          <a href="https://medium.com/@mrshininnnnn"><img src="/assets/images/medium-brands.svg" width="15px"> Medium </a>
          <br>
          Mchine Learning Engineer, Learnable, Inc. <br> 
          Graduate Student, Computer Science, Georgia Institute of Technology <br> 
          Graduate Student, Applied Data Science, Syracuse University 
        </center>

        <h1 id="section"> Education</h1>
        <hr noshade>

        <p id="title_left"><b> Georgia Institute of Technology </b></p>
        <p id="title_right"><b> Atlanta, USA </b></p>
        <li><p id="left"> Master of Science in Computer Science </p>
        <p id="right"><i> Sep. 2019 - Now </i></p></li>

        <p id="title_left"><b> Syracuse University </b></p>
        <p id="title_right"><b> Syracuse, USA </b></p>
        <li><p id="left"> Master of Science in Applied Data Science </p>
        <p id="right"><i> Sep. 2018 - Now </i></p></li>

        <p id="title_left"><b> New York University </b></p>
        <p id="title_right"><b> New York, USA </b></p>
        <li><p id="left"> Master of Science in Management and Systems </a>
        <p id="right"><i> Sep. 2016 - May. 2018 </i></p></li>

        <p id="title_left"><b> Donghua University </b></p>
        <p id="title_right"><b> Shanghai, China </b></p>
        <li><p id="left"> Bachelor of Management in Electronic Commerc </p>
        <p id="right"><i> Sep. 2010 - Jun. 2014 </i></p></li>

        <h1 id="section"> Experience</h1>
        <hr noshade>

        <p id="title_left"><b> Learnable, Inc. </b></p>
        <p id="title_right"><b> Boston, USA </b></p>
        <p id="title_left"> Machine Learning Engineer </p>
        <p id="title_right"><i> Sep. 2018 - Now </i></p>
        <p id="title_left"> Machine Learning Engineer Intern</p>
        <p id="title_right"><i> Jul. 2018 - Sep. 2018 </i></p>
        <li> Develop, evaluate, and improve solutions by machine learning and statistical modeling techniques </li>
        <li> Follow the latest conferences, reproduce papers, and develop new methods to fulfill specific requirements </li>
        <li> Supervise the NLP group and be in charge of several studies such as language modeling and semantic parsing </li>
        <li> Work in an agile team to deliver features in a fast pace </li>
        <li> Python, Tensorflow, PyTorch, Keras</li>
        <p id="title_left"><b> Pythagoras Investment Management LLC </b></p>
        <p id="title_right"><b> New York, USA </b></p>
        <p id="title_left"> Algorithm Engineer Intern </p>
        <p id="title_right"><i> Dec. 2017 - May. 2018 </i></p>
        <li> Develop and adopt best practices to design and build an automatic digital currency trading system </li>
        <li> Collaborate with the team in developing a pipeline from scratch for data management </li>
        <li> Manage over 10+ exchanges’ APIs </li>
        <li> HTML, CSS, JavaScript, Python, SQL, Flask, MongoDB </li>
        <p id="title_left"><b> China Net Cloud (Shanghai) Co., Ltd </b></p>
        <p id="title_right"><b> Shanghai, China </b></p>
        <p id="title_left"> Project Manager </p>
        <p id="title_right"><i> Jul. 2014 - Mar. 2016 </i></p>
        <p id="title_left"> Project Manager Intern</p>
        <p id="title_right"><i> Mar. 2014 - Jul. 2014 </i></p>
        <li> Manage projects end to end and take ultimate responsibility for projects’ success </li>
        <li> Handle business with AWS and Alibaba Could including purchasing servers, reviewing bills, and solving tickets </li>
        <li> Support engineers to transfer information, design server architecture, and cooperate with clients </li>
        <li> Optimize existing procedure and maintain corresponding wiki pages </li>
        <li> Microsoft Office, SugarCRM, Zabbix, AWS, Alibaba Could, Trello, Draw.io, Wiki </li>

        <h1 id="section"> Technical Projects</h1>
        <hr noshade>

        <p id="title_left"><b> Data Processing </b></p>
        <p id="title_right"><b> Learnable, Inc. </b></p>
        <p id="title_left"> 14 Million Question Bank Management </b></p>
        <p id="title_right"><i> Jan. 2019 - May. 2019 </i></p>

        <p id="title_left"><b> Textual Classification </b></p>
        <p id="title_right"><b> Learnable, Inc. </b></p>
        <p id="title_left"> High School Physics Questions Knowledge Points Tagging </b></p>
        <p id="title_right"><i> Jul. 2018 - Sep. 2018 </i></p>

        <p id="title_left"><b> Language Modeling </b></p>
        <p id="title_right"><b> Learnable, Inc. </b></p>
        <p id="title_left"> Chinese-LaTeX-Mixed Mathematics Masked Language Modeling </b></p>
        <p id="title_right"><i> Jun. 2019 - Nov. 2019 </i></p>

        <p id="title_left"><b> Sequential Learning </b></p>
        <p id="title_right"><b> Learnable, Inc. </b></p>
        <p id="title_left"> Post-Processing for Deep Learning Based Optical Character Recognition </b></p>
        <p id="title_right"><i> Mar. 2019 - Now </i></p>
        <p id="title_left"> Formal Language Parsing for Automatic Grading System </b></p>
        <p id="title_right"><i> Feb. 2019 - Now </i></p>

        <p id="title_left"><b> Software Development </b></p>
        <p id="title_right"><b> Pythagoras Investment Management LLC </b></p>
        <p id="title_left"> Pythagoras Digital Funds Trading Systems Development </b></p>
        <p id="title_right"><i> Dec. 2017 - May. 2018 </i></p>

        <h1 id="section"> Academic Projects</h1>
        <hr noshade>

        <p id="title_left"><b> Dissertation </b></p>
        <p id="title_right"><b> New York University </b></p>
        <p id="title_left"> The Relationship of Academic Capital and Altmetrics </p>
        <p id="title_right"><i> Sep. 2017 - Jul. 2018 </i></p>

        <p id="title_left"><b> AIChallenger </b></p>
        <p id="title_right"><b> New York University </b></p>
        <p id="title_left"> English-Chinese Machine Translation Task </p>
        <p id="title_right"><i> Sep. 2017 - May. 2018 </i></p>

        <p id="title_left"><b> HackNYU </b></p>
        <p id="title_right"><b> New York University </b></p>
        <p id="title_left"> Lung Cancer Detection Using Deep Learning </p>
        <p id="title_right"><i> Mar. 2017 - Apr. 2017 </i></p>

        <h1 id="section"> Publications</h1>
        <hr noshade>

        <p id="text"><b> The Impact of Emotion On Social Media Content Consumption: Evidence From Video Analysis On Live Streaming Platforms </b></p>
        <li> <a href="https://www.linkedin.com/in/keran-zhao-65a2a07b/"> Keran Zhao</a>, <a href="https://www.linkedin.com/in/yingda-lu-b4749512/">Yingda Lu</a>, <a href="https://mrshininnnnn.github.io/"><b>Ning Shi</b></a>, <a href="https://yuhenghu.com/">Yuheng Hu</a> </li>
        <li> In <i> the 2019 Institute for Operations Research and the Management Sciences Annual Meeting, Seatle, WA</i>. <a href="http://meetings2.informs.org/wordpress/seattle2019/"><b>INFORMS 2019</b></a>.</li>

        <p id="text"><b> The Relationship of Academic Capital and Altmetrics: Effects of Elsevier Metrics on Mendeley Reader Count </b></p>
        <li><b> Ning Shi </b></li>
        <li> Advisors:
        <a href="https://www.linkedin.com/in/farrazzak/"> Farid Razzak </a> and 
        <a href="https://www.linkedin.com/in/thomas-christo-ph-d-3330922/"> Thomas Christo </a></li>
        <li> A thesis submitted in partial fulfillment of the requirements for the degree Master of Science in Management and Systems at New York University</li>

        <h1 id="section"> Services</h1>
        <hr noshade>
        <p id="left"> Secondary Reviewer of EMNLP-IJCNLP 2019 </p>

      </div>
    </div>

  </body>
</html>