<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155082049-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-155082049-1');
    </script> 
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' }}" media="print" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/cv.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/fontawesome.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/navigation.css' }}" type="text/css">
    <meta name="google-site-verification" content="5nNLZZrN2cCkqk-YjHhN-2gGOZBmEb_Unc8oTvRtCCo" />

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="https://mrshininnnnn.github.io/">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>

    <nav>
      <div class="inner">
        <ul>
          <li><a href="https://mrshininnnnn.github.io/">About</a></li>
          <li><a href="https://mrshininnnnn.github.io/coursework/">Coursework</a></li>
          <li><a href="https://mrshininnnnn.github.io/project/">Project</a></li>
          <li><a href="https://mrshininnnnn.github.io/publication/">Publication</a></li>
          <li><a href="https://mrshininnnnn.github.io/blog/">Blog</a></li>
          <li><a href="https://mrshininnnnn.github.io/cv/">CV</a></li>
        </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <center> 
          <h1>Ning Shi (石宁)</h1> 
          <a href="mailto:MrShininnnnn@gmail.com"><i class="fas fa-envelope"></i> MrShininnnnn[at]gmail[dot]com |</a>
          <a href="https://mrshininnnnn.github.io/"><i class="fas fa-home"></i> Homepage |</a>
          <a href="https://www.linkedin.com/in/stshining/"><i class="fab fa-linkedin"></i> LinkedIn |</a>
          <a href="https://github.com/MrShininnnnn"><i class="fab fa-github-alt"></i> GitHub </a>
          <br>
          Mchine Learning Engineer, Learnable, Inc. <br> 
          Graduate Student, Computer Science, Georgia Institute of Technology <br> 
          Graduate Student, Applied Data Science, Syracuse University 
        </center>

        <h1 id="section"> Education</h1>
        <hr noshade>

        <p id="title_left"><b> Georgia Institute of Technology </b></p>
        <p id="title_right"><b> Atlanta, USA </b></p>
        <li><p id="left"> Master of Science in Computer Science </p>
        <p id="right"><i> Sep. 2019 - Now </i></p></li>

        <p id="title_left"><b> Syracuse University </b></p>
        <p id="title_right"><b> Syracuse, USA </b></p>
        <li><p id="left"> Master of Science in Applied Data Science </p>
        <p id="right"><i> Sep. 2018 - Now </i></p></li>

        <p id="title_left"><b> New York University </b></p>
        <p id="title_right"><b> New York, USA </b></p>
        <li><p id="left"> Master of Science in Management and Systems </a>
        <p id="right"><i> Sep. 2016 - May. 2018 </i></p></li>

        <p id="title_left"><b> Donghua University </b></p>
        <p id="title_right"><b> Shanghai, China </b></p>
        <li><p id="left"> Bachelor of Management in Electronic Commerc </p>
        <p id="right"><i> Sep. 2010 - Jun. 2014 </i></p></li>

        <h1 id="section"> Experience</h1>
        <hr noshade>

        <p id="title_left"><b> Learnable, Inc. </b></p>
        <p id="title_right"><b> Boston, USA </b></p>
        <p id="title_left"> Machine Learning Engineer </p>
        <p id="title_right"><i> Sep. 2018 - Now </i></p>
        <p id="title_left"> Machine Learning Engineer Intern</p>
        <p id="title_right"><i> Jul. 2018 - Aug. 2018 </i></p>
        <li> Applied machine learning techniques to personalize educational productions for users </li>
        <li> Worked in a fast-paced and aglie environment to deliver extra features for online productions </li>
        <li> Followed latest papers and reproduced models to improve existing productions </li>
        <li> Python, Tensorflow, PyTorch, Keras</li>
        <p id="title_left"><b> Pythagoras Investment Management LLC </b></p>
        <p id="title_right"><b> New York, USA </b></p>
        <p id="title_left"> Algorithm Engineer Intern </p>
        <p id="title_right"><i> Dec. 2017 - May. 2018 </i></p>
        <li> Designed and developed pipelines for data preprocessing, data integrity check, and data storage </li>
        <li> Developed digital currency monitors and underlying modules for trading systems </li>
        <li> Requested, preprocessed and managed data over 10+ exchanges’ APIs </li>
        <li> HTML, CSS, JavaScript, Python, Flask, MongoDB </li>

        <h1 id="section"> Technical Projects</h1>
        <hr noshade>
        <p id="title_left"><b> Textual Classification </b></p>
        <p id="title_right"><b> Learnable, Inc. </b></p>
        <p id="title_left"> High School Physics Questions Knowledge Points Tagging </b></p>
        <p id="title_right"><i> Jul. 2018 - Sep. 2018 </i></p>

        <h1 id="section"> Academic Projects</h1>
        <hr noshade>
        <p id="title_left"><b> HackNYU </b></p>
        <p id="title_right"><b> New York University </b></p>
        <p id="title_left"> Lung Cancer Detection Using Deep Learning </p>
        <p id="title_right"><i> Mar. 2017 - Apr. 2017 </i></p>

        <h1 id="section"> Services</h1>
        <hr noshade>
        <p id="left"> Secondary Reviewer of EMNLP-IJCNLP 2019 </p>

      </div>
    </div>

  </body>
</html>