<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155082049-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-155082049-1');
    </script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' }}" media="print" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/cv.css' }}" type="text/css">
    <meta name="google-site-verification" content="5nNLZZrN2cCkqk-YjHhN-2gGOZBmEb_Unc8oTvRtCCo" />

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="https://mrshininnnnn.github.io/">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>

    <nav>
      <div class="inner">
        <ul>
          <li><a href="https://mrshininnnnn.github.io/">About</a></li>
          <li><a href="https://mrshininnnnn.github.io/coursework/">Coursework</a></li>
          <li><a href="https://mrshininnnnn.github.io/project/">Project</a></li>
          <li><a href="https://mrshininnnnn.github.io/publication/">Publication</a></li>
          <li><a href="https://mrshininnnnn.github.io/blog/">Blog</a></li>
          <li><a href="https://mrshininnnnn.github.io/cv/">CV</a></li>
        </ul>
      </div>
    </nav>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <center> 
          <h1>Ning Shi (石宁)</h1> 
          Mchine Learning Engineer, Learnable, Inc. <br> 
          Graduate Student, Computer Science, Georgia Institute of Technology <br> 
          Graduate Student, Applied Data Science, Syracuse University 
        </center>

        <h1 id="section"> Education</h1>
        <hr noshade>

        <a id="title_left"><b> Georgia Institute of Technology </b></a>
        <a id="title_right"><b> Atlanta, USA </b></a>
        <li><a id="left"> Master of Science in Computer Science </a>
        <a id="right"><i> Sep. 2019 - Now </i></a></li>

        <a id="title_left"><b> Syracuse University </b></a>
        <a id="title_right"><b> Syracuse, USA </b></a>
        <li><a id="left"> Master of Science in Applied Data Science </a>
        <a id="right"><i> Sep. 2018 - Now </i></a></li>

        <a id="title_left"><b> New York University </b></a>
        <a id="title_right"><b> New York, USA </b></a>
        <li><a id="left"> Master of Science in Management and Systems </a>
        <a id="right"><i> Sep. 2016 - May. 2018 </i></a></li>

        <a id="title_left"><b> Donghua University </b></a>
        <a id="title_right"><b> Shanghai, China </b></a>
        <li><a id="left"> Bachelor of Management in Electronic Commerc </a>
        <a id="right"><i> Sep. 2010 - Jun. 2014 </i></a></li>

        <h1 id="section"> Experience</h1>
        <hr noshade>
        <a id="title_left"><b> Learnable, Inc. </b></a>
        <a id="title_right"><b> Boston, USA </b></a>
        <li><a id="left"> Machine Learning Engineer </a>
        <a id="right"><i> Sep. 2018 - Now </i></a></li>

      </div>
    </div>

  </body>
</html>